<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="showToast()">PLUGIN!!</button>
  <button ion-button onclick="window.plugins.toast.showShortTop('Hello there!', function(a){console.log('toast success: ' + a)}, function(b){alert('toast error: ' + b)})">Toast showShortTop</button>

  <ion-item>
    <!-- <ion-label fixed>Username</ion-label>
    <ion-input [(ngModel)]="x.message" type="text" ></ion-input> -->
    <p>{{x}}</p>
    <p>
      {{prueba}}
    </p>
    <div id="myDiv">

    </div>
  </ion-item>
</ion-content>
